<div class="box">

  <h2>Registrieren</h2>

  <input #firstName placeholder="Vorname"><br>
  <input #lastName placeholder="Nachname"><br>
  <input #email placeholder="Email"><br>
  <input #password type="password" placeholder="Passwort"><br>
  <input #confirmPassword type="password" placeholder="Passwort bestätigen"><br>

  <button
    (click)="register(
      firstName.value,
      lastName.value,
      email.value,
      password.value,
      confirmPassword.value
    )">
    Registrieren
  </button>

  <p [style.color]="messageColor">
    {{ message }}
  </p>

</div>
